@font-face {
  font-family: Vazir;
  src: url("./assets/Vazir.ttf");
}
* {
  font-family: Vazir;
}
tbody tr:hover {
  background-color: #e7e7e7;
}

table{
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
}

th,td{
  border:1px solid #dddddd ;
  text-align: center;
  padding: 10px 0px;
}

tr:nth-child(even){
  background-color:#f2f2f2 ;
}